* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.score-panel {
  display: flex;
  border-radius: 0.8125rem;
  border: 2px solid #fff;
  padding: 1rem;
  margin: 1rem;
}

.header {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-top: 3px;
}

.score {
  border-radius: 8px;
  background: #fff;
  text-align: center;
  width: 5.6rem;
  margin: 0.2rem;
  padding: 0.3rem;
}

.score-title {
  color: #656565;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.score-number {
  color: #252525;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hands {
  position: relative;
  width: 320px;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-top: 50px;
}
.hands img {
  width: 100px;
  height: 100px;
  display: block;
}

.hands .paper {
  margin-right: 20px;
}

.hands .scissors {
  margin-left: 20px;
}

.hands .hand {
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.25s;
}

.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}

.game-rules-popup {
  border-radius: 8px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(130, 129, 132, 0.5);
  width: 300px;
  padding: 1rem;
  color: white;
  z-index: 1000;
}

.game-rules {
  margin-bottom: 20px;
}

.game-rules > h2 {
  text-align: center;
}

.game-rules > ul {
  list-style: none;
  padding: 0;
}

.game-rules > ul > li {
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0c0c0d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.lower-panel {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 1rem;
  margin-top: auto;
}

button {
  border-radius: 8px;
  border: 1.9px solid #fff;
  background: rgba(217, 217, 217, 0);
  color: #fff;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3.5px 12px;
}

/* Add a green border to the player's selected hand
.hand.selected {
    border: 2px solid green;
    border-radius: 50%;
  }
  
  /* Add a border to the computer's selected hand */
/* .hand.computer-selected {
    border: 2px solid red; 
    border-radius: 50%;  
} */

/* -------------------------- */

.hand-overlay {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  /* @keyframes  {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      } */
  opacity: 0;
  transition: all 1s ease-in-out;
}

.hand-overlay > img {
  width: 100px;
  height: 100px;
}

.hand-overlay.left {
  left: 0;
}

.hand-overlay.right {
  right: 0;
}

.hand-overlay.show {
  opacity: 1;
}

button:hover {
  background: #fff;
  color: hsl(214, 47%, 23%);
}
